/* ==================================
   Section - Fonts
   ================================= */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

/* ==================================
     Section - Variables
     Блок будет содержать переменные:
     - цвета
     - повторяющиеся размеры и т.д.
     ================================= */
:root {
  --b-black: #000000;
  --b-dark: #333333;
  --b-grey: #e5e5e5;
  --b-grey-light: #f2f2f2;
  --b-white: #fff;
  --brown-light: #756257;
  --brown-dark: #615048;
  --green-light: #7db54f;
  --green-dark: #6c9e42;
  --blue-light: #83b3d3;
  --blue-lighten-1: rgba(131, 179, 211, 0.2);
  --blue-lighten-2: rgba(131, 179, 211, 0.12);
  --blue-dark: #68a2ca;
  --error: #ff5757;
  --warning: #fd922e;
  --succes: #7db550;

  --base-fz: 18px;
  --base-lh: 21px;
  --base-fw: 400;
  --base-ff: "PT Sans", Arial, Helvetica, sans-serif;
  --anim: all 0.25s ease;
}

/* ==================================
     Section - Global Styles
     ================================= */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--base-ff);
  font-size: var(--base-fz);
  line-height: var(--base-lh);
  font-weight: var(--base-fw);
  background-color: var(--b-grey-light);
  color: var(--dark);
}

.main-container {
  flex-grow: 1;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--b-white);
  box-shadow: 0 0 18px 0px rgb(0 0 0 / 11%);
}

.container-xl {
  width: 1056px;
  margin: 0 auto;
}

.container-lg {
  width: 720px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}
/* ==================================
   Section - Utility classes
   ================================= */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.rs-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rs-indent {
  padding: 0;
  margin: 0;
}

/* ==================================
   Section - Buttons
   ================================= */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: var(--base-lh);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--b-white);
  padding: 8px 34px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: var(--base-ff);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: var(--blue-light);
  padding-right: 30px;
  padding-left: 30px;
}

.button-blue:hover {
  background-color: var(--blue-dark);
}

.button-blue:focus {
  outline: 3px solid var(--brown-light);
}

.button-brown {
  background-color: var(--brown-light);
}

.button-brown:hover {
  background-color: var(--brown-dark);
}

.button-brown:focus {
  outline: 3px solid var(--blue-light);
}

.button-green {
  background-color: var(--green-light);
  padding-right: 28px;
  padding-left: 28px;
}

.button-green:hover {
  background-color: var(--green-dark);
}
.button-green:focus {
  outline: 3px solid var(--brown-light);
}

/* ==================================
   Custom select
   ================================= */

.custom-select {
  padding: 11px 15px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--base-ff);
  font-size: 18px;
  line-height: 23px;
  color: var(--b-dark);
  background: var(--b-white) url("../img/dropdown-ico.svg") no-repeat center
    right 17px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.custom-select:hover,
.custom-select:focus {
  border-color: var(--blue-light);
}

/* ==================================
  Custom field
  ================================= */

.field {
  background-color: #f2f2f2;
  border: none;
}

.field:hover {
  background-color: var(--b-grey);
}

.field:focus {
  background-color: var(--b-grey);
  outline: 3px solid var(--blue-light);
}

.field:not(:placeholder-shown) {
  background-color: var(--b-white);
  outline: 2px solid var(--b-black);
  color: var(--b-black);
}

.field-error {
  background-color: var(--b-white);
  outline: 2px solid var(--error);
}

/* ==================================
   Section - Typography
   ================================= */
.title-1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: var(--b-black);
}
.title-2 {
  font-weight: 700;
  font-size: 40px;
  color: var(--b-black);
}
.title-3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--b-black);
}
.title-4 {
  font-weight: 700;
  font-size: 24px;
  color: var(--b-black);
}

/* ==================================
   Section - Header
   ================================= */

.main-header {
  min-height: 65px;
}

.navigation {
  display: grid;
  grid-template-columns: 310px 1fr 310px;
  position: relative;
  min-height: inherit;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: var(--b-black);
  font-weight: 700;
  display: block;
  outline: none;
  border-radius: 10px;
}

.navigation-link {
  position: relative;
}

.text-focus::before {
  position: absolute;
  content: "";
  width: 110%;
  height: 110%;
  top: 5%;
  right: 0;
  bottom: 0;
  left: -5%;
  outline: 3px solid var(--blue-light);
  border-radius: 4px;
  opacity: 0;
  z-index: 1;
}

.text-focus:focus::before {
  opacity: 1;
}

.navigation-item {
  padding: 20px 00 19px;
}

.navigation-link-active::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--brown-light);
}

.navigation-link:hover,
.navigation-link:hover path {
  color: var(--brown-dark);
  fill: var(--brown-dark);
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
  outline: none;
}

.navigation-link:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-fav {
  position: relative;
  left: -6px;
}
.navigation-fav-count {
  position: absolute;
  width: 19px;
  height: 19px;
  background: #7db54f;
  border-radius: 50%;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -6px;
  right: -14px;
  z-index: 2;
}

.navigation-user {
  padding-left: 60px;
}

.navigation-user .navigation-item:last-child {
  padding: 0;
}
.navigation-ico path {
  fill: var(--b-black);
}

.logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.icon-focus:before {
  position: absolute;
  content: "";
  width: 140%;
  height: 110%;
  top: -10%;
  right: 0;
  bottom: 0;
  left: -20%;
  outline: 3px solid var(--blue-light);
  border-radius: 4px;
  opacity: 0;
  z-index: 1;
}

.icon-focus:focus::before {
  opacity: 1;
}

/* ==================================
   Section - Intro
   ================================= */

.intro {
  background: var(--blue-dark) url("../img/backgrounds/index-background.jpg")
    no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 83px;
  position: relative;
}

.intro::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url("../img/intro/divider.svg") no-repeat center/cover;
}

/* ==================================
   Section - Advantages
   ================================= */

.advantages-header {
  padding-top: 63px;
  padding-bottom: 79px;
}

.advantages,
.advantages-row {
  text-align: center;
}

.advantages-heading {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--b-black);
  margin-bottom: 32px;
}

.advantages-description {
  font-size: 22px;
  line-height: 36px;
}

.advantages-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item-img-r {
  grid-column: 2 / 4;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.advantages-item-coldblue {
  background-color: var(--blue-light);
  color: var(--b-white);
  padding: 98px 95px 90px 95px;
}

.advantages-row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item-img-l {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.advantages-item-title {
  line-height: 28px;
  text-transform: uppercase;
  color: var(--b-white);
  margin: 0;
  margin-bottom: 25px;
}

.advantages-item-number {
  margin-bottom: 25px;
}

.advantages-item-lightblue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-item {
  padding: 98px 75px 100px 75px;
}

.advantages-item-img {
  margin-bottom: 23px;
}

.advantages-item-heading {
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.advantages-number {
  margin-bottom: 35px;
}

.advantages-item-lighterblue {
  background-color: rgba(131, 179, 211, 0.2);
}

/* ==================================
   Section - Booking
   ================================= */

.booking {
  padding-top: 91px;
  padding-bottom: 88px;
  text-align: center;
}

.booking-title {
  line-height: 36px;
  margin-bottom: 32px;
}

.booking-button {
  font-size: 20px;
  line-height: 36px;
  padding: 12px 150px;
  border-radius: 10px;
}

.booking-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 59px;
}

/* ==================================
   Section - Subscribe
   ================================= */

.subscribe {
  background: var(--blue-dark)
    url("../img/backgrounds/background-subscribe.jpg") no-repeat center/cover;
  color: var(--b-white);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  display: grid;
  grid-template-columns: auto 800px auto;
}

.subscribe > * {
  grid-column: 2/3;
}

.subscribe-title {
  line-height: 36px;
  color: var(--b-white);
  margin-bottom: 28px;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 45px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 26px;
  border-radius: 0 10px 10px 0;
  padding: 17px 35px;
  margin: 0;
}

.subscribe-form {
  width: 100%;
  display: flex;
}

.subscribe-form-label {
  max-width: 600px;
  width: 100%;
}

.subscribe-form .field {
  width: 100%;
  margin: 0;
  padding: 18px 22px;
  font-family: var(--base-ff);
  font-size: 18px;
  line-height: 26px;
  border-radius: 10px 0 0 10px;
}

.subscribe-form .field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* ==================================
   Section - Footer
   ================================= */

.footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 42px;
}

.social {
  width: 111px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  border-radius: 5px;
  min-height: 34px;
  min-width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover {
}

.social-link:focus {
  outline: 3px solid var(--blue-light);
}

.footer-ico path {
  fill: var(--blue-light);
}

.social-link:hover path {
  fill: var(--blue-dark);
}

.social-link:active path,
.social-link:active {
  fill: rgba(104, 163, 202, 0.3);
  outline: none;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--b-black);
  text-decoration: none;
  border-radius: 1px;
}

.footer-phone:hover {
  color: var(--brown-dark);
}
.footer-phone:focus {
  outline: 3px solid var(--blue-light);
  outline-offset: 15px;
}

.footer-phone:active {
  color: rgba(117, 98, 87, 0.3);
  outline: none;
}

.footer-logo {
  border-radius: 1px;
}

.footer-logo:hover path {
  fill: var(--brown-dark);
}
.footer-logo:focus {
  outline: 3px solid var(--blue-light);
  outline-offset: 15px;
}

.footer-logo:active path,
.footer-logo:active {
  fill: rgba(117, 98, 87, 0.3);
  outline: none;
}
/* ==================================
   Section - Inner Header
   ================================= */

.inner-header {
  background-color: var(--b-dark);
  background-image: url("../img/backgrounds/catalog-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--b-white);
  padding-top: 35px;
  padding-bottom: 68px;
}

.inner-header-title {
  color: var(--b-white);
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 31px;
}

.breadcrumb-ico path {
  fill: var(--b-white);
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  padding-right: 16px;
  margin-right: 10px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 8px;
  background: url("../img/nav-link-ico.svg") no-repeat center/contain;
}

.breadcrumbs-link {
  font-size: 16px;
  display: inline-flex;
  border-radius: 1px;
}

.breadcrumbs-link:hover path {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  outline: 3px solid var(--blue-light);
  outline-offset: 4px;
}

.breadcrumbs-link:active path {
  fill: rgba(255, 255, 255, 0.3);
  outline: none;
}

/* ==================================
   Section - filters
   ================================= */

.filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 32px;
}

.filter {
  display: grid;
  grid-template-columns: 150px 180px auto 160px;
  gap: 67px;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 38px;
}

.filter-list .control:not(last-child) {
  margin-bottom: 15px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;;
  border-radius: 4px;
  background-color: var(--b-white);
}

.control:hover .control-input[type="checkbox"] + .control-mark{
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-mark{
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid var(--blue-light);
}

.control-input[type="checkbox"]:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 6px;
  width: 11px;
  height: 2px;
  background-color: #3F5E72;
  transform: rotate(-45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 3px;
  width: 6px;
  height: 2px;
  background-color: #3F5E72;
  transform: rotate(45deg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:focus + .control-mark  {
  box-shadow: inset 0 0 0 3px var(--blue-light);
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 5px;
  top: 4.5px;
  background-color: #3F5E72;
  border-radius: 50%;
}

.product-cost {
  justify-self: end;
  width: 287px;
  margin-right: 13px;
}

.product-cost-label {
  display: flex;
  position: relative;
}

.range-price-inputs {
  display: flex;
  border-radius: 4px;
}

.price-title {
  position: absolute;
  right: 15px;
  top: 13px;
  color: rgba(255, 255, 255, 0.3);
}

.range-input {
  width: 143px;
  font: inherit;
  color: var(--b-white);
  line-height: 23px;
  background-color: transparent;
  appearance: textfield;
  padding: 11px;
  padding-left: 18px;
  padding-right: 40px;
  font-family: var(--base-ff);
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input {
  border: 2px solid #ffffff;
}

.range-input-min {
  border-right: 1px solid var(--b-white);
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-left: 1px solid var(--b-white);
  border-radius: 0 4px 4px 0;
}

.range-input-min:hover {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.range-input-max:hover {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.range-input:focus {
  box-shadow: inset 0 0 0 3px var(--blue-light);
  outline: 3px solid var(--blue-light);
}

.range-input:active {
  background-color: var(--brown-light);
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 29px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--b-white);
  width: 227px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--b-white);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.min-price {
  top: -8px;
  left: 0;
}

.max-price {
  top: -8px;
  right: -10px;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid var(--blue-light);
}

.range-toggle:active {
  outline: 2px solid var(--blue-light);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.filters-button {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
  margin-top: 60px;
}

.filter-submit {
  padding: 14px 35px;
  margin-bottom: 13px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.filter-submit:focus {
  outline: 3px solid var(--b-white);
}

.filter-reset {
  display: inline-flex;
  font-family: var(--base-ff);
  font-size: var(--base-fz);
  font-weight: var(--base-fw);
  color: var(--b-white);
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.filter-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-reset:focus {
  outline: 3px solid var(--blue-light);
}

.filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

/* ==================================
   Section - Sorting
   ================================= */

.catalog-result {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-sort {
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 37px;
}

.catalog-sort-title {
  line-height: 39px;
  margin-right: 200px;
}

.catalog-grade-select {
  font-size: var(--base-fz);
  line-height: 24px;
  font-weight: var(--base-fw);
  color: var(--dark);
  min-width: 286px;
}

.catalog-grade-select:active {
  color:rgba(51, 51, 51, 0.3);
  outline: none;
  border-color: var(--b-grey);
}


.sort-type {
  margin-left: auto;
  display: flex;
}

.sort-type-link {
  padding: 12px 16px;
  outline: 2px solid var(--b-grey);
  border-radius: 4px;
}

.sort-type-active {
  outline: 2px solid var(--b-black);
}

.sort-type-item:not(:last-child) {
  margin-right: 8px;
}

.sort-type-state:hover,
.sort-type-state:focus {
  outline: 2px solid var(--blue-light);
}

.sort-type-ico path {
  fill: var(--b-black);
}

/* ==================================
   Section - Product-List
   ================================= */

.card {
  display: grid;
  grid-template-columns: 180px 320px auto;
  column-gap: 36px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e5e5e5;
}

.card:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.card-name-link {
  line-height: 31px;
  text-decoration: none;
  border-radius: 5px;
}

.card-name-link:hover {
  color: var(--brown-light);
}

.card-name-link:focus {
  outline: 3px solid var(--blue-light);
  outline-offset: 5px;
}

.card-name-link:active {
  color: rgba(117, 98, 87, 0.3);
  outline: none;
}

.card-link {
  display: block;
  width: 180px;
  height: 120px;
}

.card-link:hover img {
  opacity: 0.6;
}

.card-link:focus {
  outline: 3px solid var(--blue-light);
}

.card-link:active {
  outline: none;
}
.card-link:active img {
  opacity: 0.3;
}
.card-category {
  display: flex;
  width: 235px;
  justify-content: space-between;
  margin-bottom: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-buttons {
  display: grid;
  grid-template-columns: 151px 160px;
  column-gap: 8px;
}

.card-buttons .button {
  display: block;
}

.raiting-column {
  justify-self: end;
  display: flex;
  flex-direction: column;
}

.raiting {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

.raiting-item {
  width: 25px;
}

.raiting-value {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--b-grey-light);
  width: 160px;
  padding-top: 10px;
  padding-bottom: 9px;
}

.catalog-more {
  padding-top: 31px;
  padding-bottom: 30px;
  text-align: center;
}

.catalog-button-more {
  font-size: 20px;
  line-height: 26px;
  max-width: 625px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ==================================
   Section - Pagination
   ================================= */

.catalog-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
}

.pagination {
  display: flex;
}

.pagination-item {
  width: 55px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  color: var(--b-white);
  background-color: var(--blue-light);
  min-width: 55px;
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  border-radius: 4px;
}

.pagination-link-current {
  background-color: var(--b-grey-light);
  color: var(--b-dark);
}

.pagination-link-state:hover {
  background-color: var(--blue-dark);
}

.pagination-link-state:focus {
  outline: 3px solid var(--brown-light);
}

.pagination-link-state:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--blue-dark);
  outline: none;
}

.hotels-amount-label {
  margin-right: 46px;
}

/* ==================================
   Section - Subscribe-Catalog
   ================================= */

.subscribe-catalog {
  text-align: center;
  padding-top: 83px;
  padding-bottom: 138px;
  display: grid;
  grid-template-columns: auto 800px auto;
}

.subscribe-catalog > * {
  grid-column: 2/3;
}

.subscribe-catalog-title {
  line-height: 36px;
  color: var(--b-black);
  margin-bottom: 33px;
}

.items-per-page-select {
  min-width: 160px;
}

/* ==================================
   Popup
   ================================= */

.popup-fav {
  display: none;
}

.popup {
  position: absolute;
  z-index: 2;
  top: 61px;
  right: 0;
  width: 400px;
  min-height: 232px;
  font-family: var(--base-ff);
  font-weight: var(--base-fw);
  font-size: 16px;
  line-height: 40px;
  background-color: var(--b-white);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.popup::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: 50%;
  top: -13px;
  background-color: var(--b-white);
  border-left: 1px solid var(--b-grey);
  border-top: 1px solid var(--b-grey);
  transform: rotate(45deg) translateX(50%);
}

.popup-content {
  padding: 25px 17px 25px 25px;
  border-top: 1px solid var(--b-grey);
  border-left: 1px solid var(--b-grey);
  border-right: 1px solid var(--b-grey);
  border-radius: 20px 20px 0 0;
}

.fav-item-ico path {
  fill: rgba(0, 0, 0, 0.6);
}

.fav-item {
  display: flex;
  justify-content: space-between;
}

.fav-item-content {
  display: grid;
  grid-template-columns: 48px auto;
  column-gap: 17px;
  row-gap: 2px;
  border-radius: 3px;
}

.fav-item:not(:last-child) {
  margin-bottom: 25px;
}

.fav-item-img {
  grid-row: 1 / 3;
}

.fav-item-cart-button {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 7px;
}

.fav-item-cart-button:hover path {
  fill: var(--b-black);
}

.fav-item-cart-button:focus {
  fill: var(--b-black);
  outline: 3px solid var(--blue-light);
}

.fav-item-cart-button:active path {
  fill: rgba(0, 0, 0, 0.3);
  outline: none;
}

.fav-item-title{
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: var(--b-black);
}

.fav-item-category {
  line-height: 16px;
  color: var(--b-black);
}

.popup-button {
  width: 100%;
  padding: 21px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 0px 0px 20px 20px;
}

.fav-item-content:hover .fav-item-img,
.fav-item-content:hover .fav-item-title,
.fav-item-content:hover .fav-item-category{
  opacity: 0.6;
}

.fav-item-content:focus {
  outline: 3px solid var(--blue-light);
  outline-offset: 7px;
}

.fav-item-content:active .fav-item-img,
.fav-item-content:active .fav-item-title,
.fav-item-content:active .fav-item-category{
  opacity: 0.3;
  outline: none;
}


/* ==================================
   Popup
   ================================= */

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 61px 68px 68px 68px;
  width: 715px;
  background-color: var(--b-white);
  border-radius: 30px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-none {
  display: none;
}

.modal-close-button {
  position: absolute;
  top: 56px;
  right: 70px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: var(--b-grey-light);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-close-button path {
  fill: var(--b-black);
}

.modal-close-button:hover {
  background-color: var(--b-grey);
}

.modal-close-button:focus {
  background-color: var(--b-grey);
  outline: 3px solid var(--blue-light);
}

.modal-close-button:active,{
  background-color: rgba(230, 230, 230, 0.6);
  outline: none;
}

.modal-close-button:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin-bottom: 62px;
  text-transform: uppercase;
  font-family: var(--base-fw);
  font-weight: 700px;
  font-size: 30px;
  line-height: 40px;
  color: var(--b-black);
}

.rent-form {
  display: grid;
  grid-template-columns: 288px 230px;
  column-gap: 56px;
  row-gap: 40px;
}

.check-in-data {
  grid-column: 1 / 3;
}

.check-out-data {
  grid-column: 1 / 3;
}

.adults-data {
  grid-column: 1 / 2;
}

.rent-form-button {
 grid-column: 1 / 3;
}

.field-group {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rent-form-label {
  font-family: var(--base-ff);
  font-weight: 700;
  font-size: var(--base-fz);
  line-height: 40px;
}

.rent-form-field {
  width: 420px;
  height: 50px;
  padding: 0 18px;
  font-family: var(--base-ff);
  font-weight: 700;
  font-size: var(--base-fz);
  line-height: 40px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  background-image: url(/img/icons/calendar.svg);
  background-repeat: no-repeat;
  background-position:center right 17px;
}

.check-in-data::after {
  content: "Мы не можем отправить вас в прошлое.";
  position: absolute;
  top: 41px;
  right: 140px;
  color: var(--error);
  font-family: var(--base-ff);
  font-size: 16px;
  line-height: 40px;
}

.check-out-data::after {
  content: "На эти даты есть свободные номера. Пока есть.";
  position: absolute;
  top: 41px;
  right: 89px;
  color: var(--b-dark);
  font-family: var(--base-ff);
  font-size: 16px;
  line-height: 40px;
}

.amount-button {
  position: relative;
  width: 44px;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
}

.amount-change-button {
  max-width: 133px;
  display: flex;
  background-color: var(--b-grey-light);
  border-radius: 4px;
  padding: 5px 0 5px 0;
}

.amount-change-button path {
  fill: rgba(0, 0, 0, 0.3);
}

.minus-button:hover path {
  fill: var(--b-black);
}

.minus-button:focus {
  fill: var(--b-black);
  outline: 3px solid var(--blue-light);
}

.minus-button:active path {
  fill: rgba(0, 0, 0, 0.2);
  outline: none;
}

.plus-button:hover path {
  fill: var(--b-black);
}

.plus-button:focus {
  fill: var(--b-black);
  outline: 3px solid var(--blue-light);
}

.plus-button:active path {
  fill: rgba(0, 0, 0, 0.2);
  outline: none;
}

.people-number {
  max-width: 44px;
  padding: 0 16px 0 16px;
  margin: 0;
  border: none;
  font-family: var(--base-ff);
  font-weight: 700;
  font-size: var(--base-fz);
  line-height: 40px;
  background-color: transparent;
}

.people-number::-webkit-outer-spin-button,
.people-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.rent-form-button {
  font-size: 20px;
  line-height: 40px;
  border-radius: 10px;
  padding: 10px 0px;
  margin: 0;
}

/* ==================================
   Tooltip
   ================================= */

.form-label-ico {
  position: relative;
  padding-right: 6px;
}

.info {
  position: absolute;
  left: 56px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: var(--blue-light);
  background-image: url(/img/icons/info.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1px;
  cursor: pointer;
}

.info:active {
  background-color: var(--blue-dark);
}

.tooltip {
  position: absolute;
  top: 53px;
  right: 32px;
  width: 256px;
  height: 143px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  background-color: var(--b-black);
  border-radius: 10px;
  padding: 19px 18px 20px 22px;
}

.tooltip-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--base-fw);
  color: var(--b-white);
}

.tooltip::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  right: 50%;
  top: -11px;
  background-color: var(--b-black);
  transform: rotate(45deg) translateX(50%);
}

